<div class="bg-primaryBlue py-10 px-8">
  <div class="max-w-maxContainer mx-auto">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 sm:col-span-6 md:col-span-3">
        <img src="./assets/images/logo_black.png" width="240" alt="" />
        <ul class="flex gap-2 items-center text-white text-base mt-5">
          <li>
            <i class="bi bi-facebook"></i>
          </li>
          <li>
            <i class="bi bi-twitter"></i>
          </li>
          <li>
            <i class="bi bi-pinterest"></i>
          </li>
          <li>
            <i class="bi bi-youtube"></i>
          </li>
          <li>
            <i class="bi bi-instagram"></i>
          </li>
        </ul>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-3">
        <h3
          class="relative text-base text-white pb-3 after:absolute after:content-[''] after:h-1 after:w-16 after:bg-primaryRed after:bottom-0 after:left-0"
        >
          Factory
        </h3>
        <ul class="text-white text-xs mt-3 space-y-2">
          <li>Knit Studio Ltd.</li>
          <li>460/1, Shaheed Siddik Road, Khailkur,</li>
          <li>National University, Gazipur,</li>
          <li>Bangladesh.</li>
        </ul>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-3">
        <h3
          class="relative text-base text-white pb-3 after:absolute after:content-[''] after:h-1 after:w-16 after:bg-primaryRed after:bottom-0 after:left-0"
        >
          Email
        </h3>
        <ul class="text-white text-xs mt-3 space-y-2">
          <li>info&#64;knitstudio.net</li>
          <li>anowar&#64;knitstudio.net</li>
        </ul>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-3">
        <h3
          class="relative text-base text-white pb-3 after:absolute after:content-[''] after:h-1 after:w-16 after:bg-primaryRed after:bottom-0 after:left-0"
        >
          Make Appointment
        </h3>
        <ul class="text-white text-xs mt-3 space-y-2">
          <li>
            <i class="bi bi-clock mr-2"></i> 9 AM - 5 PM , Saturday - Thursday
          </li>
          <li>Call Us: +8802 9293880</li>
        </ul>
      </div>
    </div>
  </div>
</div>
