<navbar/>

<div class="bg-contactBanner bg-no-repeat bg-cover mb-10">
    <div class="bg-primaryBlue bg-opacity-50 py-52 relative">
        <div class="bg-primaryBlue z-10 absolute top-0 bottom-0 left-0 pt-20 w-full p-8 text-white mobile:max-w-[400px]">
            <h3 class="relative text-4xl font-semibold pb-10 after:absolute after:content-[''] after:h-1 after:w-16 after:bg-primaryRed after:bottom-5 after:left-0">LET'S START <br> CAREERS <br> HERE</h3>
            <p class="text-xs text-justify">We’re not just hiring for today – we’re building the leaders of tomorrow. If you’re driven, innovative, and ready to make a lasting impact, this is the place for you. Join a team that values growth, collaboration, and bold ideas, and take the next step toward shaping a brighter future with us.</p>
        </div>
    </div>
</div>

<heading subHeading="Job Listings" heading="Building Leaders of Tomorrow" />

<div class="max-w-maxContainer mx-auto mt-10">
    <div class="grid grid-cols-12 gap-5">
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
            <div class="shadow-md p-8 space-y-3 relative overflow-visible">
                <div class="bg-primaryGreen text-sm py-2 px-5 text-white absolute -top-3 right-4">
                    <span>Latest</span>
                </div>
                <h6 class="text-xl font-bold text-primaryGreen">Trainee Merchentizer</h6>
                <p class="text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis commodi eius accusantium dolorum odit error repudiandae sit doloremque adipisci iure!</p>
                <ul class="flex justify-between items-center">
                    <li>
                        <i class="bi bi-check-circle-fill text-primaryRed mr-1"></i>
                        Full Time
                    </li>
                    <li>
                        <i class="bi bi-check-circle-fill text-primaryRed mr-1"></i>
                        Upto 20,000 BDT
                    </li>
                </ul>
                <div class="w-56 mx-auto">
                    <buttons text="Details" />
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
            <div class="shadow-md p-8 space-y-3 relative">
                <div class="bg-primaryGreen text-sm py-2 px-5 text-white absolute -top-3 right-4">
                    <span>Latest</span>
                </div>
                <h6 class="text-xl font-bold text-primaryGreen">Trainee Merchentizer</h6>
                <p class="text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis commodi eius accusantium dolorum odit error repudiandae sit doloremque adipisci iure!</p>
                <ul class="flex justify-between items-center">
                    <li>
                        <i class="bi bi-check-circle-fill text-primaryRed mr-1"></i>
                        Full Time
                    </li>
                    <li>
                        <i class="bi bi-check-circle-fill text-primaryRed mr-1"></i>
                        Upto 20,000 BDT
                    </li>
                </ul>
                <div class="w-56 mx-auto">
                    <buttons text="Details" />
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
            <div class="shadow-md p-8 space-y-3 relative">
                <div class="bg-primaryGreen text-sm py-2 px-5 text-white absolute -top-3 right-4">
                    <span>Latest</span>
                </div>
                <h6 class="text-xl font-bold text-primaryGreen">Trainee Merchentizer</h6>
                <p class="text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis commodi eius accusantium dolorum odit error repudiandae sit doloremque adipisci iure!</p>
                <ul class="flex justify-between items-center">
                    <li>
                        <i class="bi bi-check-circle-fill text-primaryRed mr-1"></i>
                        Full Time
                    </li>
                    <li>
                        <i class="bi bi-check-circle-fill text-primaryRed mr-1"></i>
                        Upto 20,000 BDT
                    </li>
                </ul>
                <div class="w-56 mx-auto">
                    <buttons text="Details" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-contactFormBg bg-no-repeat bg-cover mt-16">
    <div class="bg-primaryBlue bg-opacity-50 py-48 md:py-40 relative">
        <div class="text-white hidden md:block px-8 w-1/2 overflow-x-hidden">
            <h3 class="relative text-4xl pb-10 after:absolute after:content-[''] after:h-1 after:w-16 after:bg-primaryRed after:bottom-5 after:left-0">Join Our Team</h3>
            <p class="text-xs text-justify">Join us to work in an environment that inspires innovation, fosters growth, and celebrates bold ideas. Together, let’s build a future where your potential knows no bounds.</p>
        </div>
        <div class="bg-primaryBlue z-10 absolute top-0 bottom-0 right-0 pt-20 w-full p-8 mobile:max-w-[400px]">
            <form>
                <h6 class="text-xl text-white">Drop Your Resume</h6>
                <div class="mt-4">
                    <input type="text" placeholder="Enter Your Name" class="w-full pl-6 border-0 text-xs placeholder:text-black placeholder:text-xs">
                </div>
                <div class="mt-4">
                    <input type="email" placeholder="Enter Your Email" class="w-full pl-6 border-0 text-xs placeholder:text-black placeholder:text-xs">
                </div>
                <div class="mt-4">
                    <input type="number" placeholder="Enter Your Number" class="w-full pl-6 border-0 text-xs placeholder:text-black placeholder:text-xs">
                </div>
                <div class="mt-4">
                    <input type="text" placeholder="Upload Your Resmue" class="w-full pl-6 border-0 text-xs placeholder:text-black placeholder:text-xs">
                </div>
                <div class="w-32 mt-4">
                    <buttons text="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer />