<navbar />
<heading subHeading="Contuct Us" heading="Your Queries, Our Priority" />

<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-10">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 md:col-span-6 lg:col-span-4">
            <div class="bg-primaryGreen text-white text-xs py-5 px-8 space-y-1 min-h-36">
                <i class="bi bi-telephone-fill text-lg"></i>
                <p class="text-sm font-bold">Phone</p>
                <p>+8801 713 453 595</p>
                <p>+8801 713 453 595</p>
            </div>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-4">
            <div class="bg-primaryRed text-white text-xs py-5 px-8 space-y-1 min-h-36">
                <i class="bi bi-envelope-fill text-lg"></i>
                <p class="text-sm font-bold">Email</p>
                <p>info&#64;knitstudio.net</p>
                <p>anowar&#64;knitstudio.net (Managing Director)</p>
            </div>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-4">
            <div class="bg-primaryGreen text-white text-xs py-5 px-8 space-y-1 min-h-36">
                <i class="bi bi-geo-alt-fill text-lg"></i>
                <p class="text-sm font-bold">Office & Factory Address</p>
                <p>
                    Knit Studio ltd <br>
                    460/1, Shaheed Siddik Road,
                    North Khailkur, National University,
                    Gazipur, Bangladesh.
                </p>
            </div>
        </div>
        
    </div>
</div>

<heading subHeading="Find Us" heading="Address Map" />
<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-10">
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7292.982550334989!2d90.391583!3d23.943062!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c4b7a1d896ff%3A0xa6f4bddb9937a184!2sKnit%20Studio%20Limited!5e0!3m2!1sen!2sbd!4v1739700380201!5m2!1sen!2sbd" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
