<navbar/>

<heading subHeading="About" heading="Knit Studio Limited" />

<!-- Mission Vision Start -->
<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-10">
    <p class="text-sm">A 100% export-oriented sweater manufacturer, delivers premium, sustainable knitwear to global brands, combining innovation, quality, and eco-friendly practices to ensure style, comfort, and timely delivery.</p>
    <div class="flex items-center gap-6 mt-10">
        <img class="hidden md:block w-1/3" src="assets/images/mission.png" alt="">
        <div class="space-y-4">
            <h4 class="text-2xl font-bold">Mission</h4>
            <p class="text-sm">Engage effectively, responsibly and profitably in the global textile industry.</p>
            <p class="text-sm">To become a brand that is known for its distinctive and uncompromising quality. Knit Studio Ltd is promised to produce world-class sweaters for men, women, children, and kids. We strive to ensure our customer satisfaction with our product quality and on-time shipment schedule.</p>
        </div>
    </div>
    <div class="flex items-center gap-6 mt-10">
        <img class="hidden md:block w-1/3" src="assets/images/vision.png" alt="">
        <div class="space-y-4">
            <h4 class="text-2xl font-bold">Vision</h4>
            <p class="text-sm">To create a single channel for satisfying diverse and high class needs of our value partners.</p>
            <p class="text-sm">To become a window through which all our interacting parties can see and feel their prospects and dream about their success. We perform in unison by following our values and ethical guidelines, using our code of 
            conduct as a source of guidance and inspiration, enabling us to achieve our vision.</p>
        </div>
    </div>
</div>
<!-- Mission Vision End -->


<!-- Table Start -->
<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-10">
    <heading subHeading="Machineries" heading="Powering Precision and Efficiency" />
    <div class="flex gap-6 justify-center my-10">
        <div class="w-72 bg-primaryGreen px-4 py-8 text-white text-center font-bold">
            <p class="text-2xl">350</p>
            <p>Computerized <br> Jacquard M/C</p>
        </div>
        <div class="w-72 bg-primaryRed px-4 py-8 text-white text-center font-bold">
            <p class="text-2xl">390</p>
            <p>Linking M/C</p>
        </div>
    </div>

    <div class="flex gap-6 justify-center">  
        <div class="relative overflow-x-auto">
            <table class="w-full text-xs text-left rtl:text-right text-gray-500 dark:text-gray-400 border">
                <thead class="text-xs text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 bg-primaryGreen text-white">
                            Machineries List
                        </th>
                        <th scope="col" class="px-6 py-3 bg-primaryRed text-white">
                            Units
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Computerized  Jacquard M/C
                        </th>
                        <td class="px-6 py-4">
                            350
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Linking M/C 
                        </th>
                        <td class="px-6 py-4">
                            390
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Overlock M/C 
                        </th>
                        <td class="px-6 py-4">
                            16
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Bar tack M/C  
                        </th>
                        <td class="px-6 py-4">
                            08
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Sewing M/C
                        </th>
                        <td class="px-6 py-4">
                            38
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Button Hole M/C 
                        </th>
                        <td class="px-6 py-4">
                            08
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Button Attaching M/C 
                        </th>
                        <td class="px-6 py-4">
                            08
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Iron
                        </th>
                        <td class="px-6 py-4">
                            68
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Washing M/C 
                        </th>
                        <td class="px-6 py-4">
                            04
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Hydro Extractor
                        </th>
                        <td class="px-6 py-4">
                            04
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="relative overflow-x-auto">
            <table class="w-full text-xs text-left rtl:text-right text-gray-500 dark:text-gray-400 border">
                <thead class="text-xs text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 bg-primaryGreen text-white">
                            Machineries List
                        </th>
                        <th scope="col" class="px-6 py-3 bg-primaryRed text-white">
                            Units
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Dryer
                        </th>
                        <td class="px-6 py-4">
                            07
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Soft Winding M/C 
                        </th>
                        <td class="px-6 py-4">
                            176 Spindle
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            PP Belt M/C 
                        </th>
                        <td class="px-6 py-4">
                            02
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Spot Removing 
                        </th>
                        <td class="px-6 py-4">
                            01
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Needle Detector 
                        </th>
                        <td class="px-6 py-4">
                            01
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Dust Removing 
                        </th>
                        <td class="px-6 py-4">
                            02
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Pull Test  
                        </th>
                        <td class="px-6 py-4">
                            01
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Air Compressor 	  
                        </th>
                        <td class="px-6 py-4">
                            02
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Chiller (146 kw) 	  
                        </th>
                        <td class="px-6 py-4">
                            01
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Boiler ( 500 kg/ 450 kg) 	  
                        </th>
                        <td class="px-6 py-4">
                            01/01
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Generator (500kw)  	  
                        </th>
                        <td class="px-6 py-4">
                            02
                        </td>
                    </tr>		       
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- Table End -->


<!-- Production Unit Start -->
<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-12">
    <heading subHeading="Production Unit" heading="Engineered for Superior Output" />
    <div class="grid grid-cols-12 gap-4 mt-10">
        <div class="col-span-12 sm:col-span-6 md:col-span-3">
            <div class="relative">
                <img src="assets/images/production.jpg" alt="" class="w-full">
                <div class="absolute top-0 left-0 w-52 bg-primaryRed p-4 text-white font-bold text-xs">
                    <h6>Winding Section</h6>
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-3">
            <div class="relative">
                <img src="assets/images/production.jpg" alt="" class="w-full">
                <div class="absolute top-0 left-0 w-52 bg-primaryRed p-4 text-white font-bold text-xs">
                    <h6>PQC Section</h6>
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-3">
            <div class="relative">
                <img src="assets/images/production.jpg" alt="" class="w-full">
                <div class="absolute top-0 left-0 w-52 bg-primaryRed p-4 text-white font-bold text-xs">
                    <h6>Packing Section</h6>
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-3">
            <div class="relative">
                <img src="assets/images/production.jpg" alt="" class="w-full">
                <div class="absolute top-0 left-0 w-52 bg-primaryRed p-4 text-white font-bold text-xs">
                    <h6>Washing Section</h6>
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-3">
            <div class="relative">
                <img src="assets/images/production.jpg" alt="" class="w-full">
                <div class="absolute top-0 left-0 w-52 bg-primaryRed p-4 text-white font-bold text-xs">
                    <h6>Sewing Section</h6>
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-3">
            <div class="relative">
                <img src="assets/images/production.jpg" alt="" class="w-full">
                <div class="absolute top-0 left-0 w-52 bg-primaryRed p-4 text-white font-bold text-xs">
                    <h6>Iron Section</h6>
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-3">
            <div class="relative">
                <img src="assets/images/production.jpg" alt="" class="w-full">
                <div class="absolute top-0 left-0 w-52 bg-primaryRed p-4 text-white font-bold text-xs">
                    <h6>Linking Section</h6>
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-3">
            <div class="relative">
                <img src="assets/images/production.jpg" alt="" class="w-full">
                <div class="absolute top-0 left-0 w-52 bg-primaryRed p-4 text-white font-bold text-xs">
                    <h6>Knitting Section</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Production Unit End -->


<!-- MD Message Start -->
<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-12">
    <heading subHeading="Message From MD" heading="Leading with Purpose and Vision" />
    <div class="relative bg-primaryGreen text-white text-justify text-xs md:w-3/5 mx-auto px-16 py-12 mt-10">
        <img class="absolute -top-6 left-5" src="assets/images/quote1.png" alt="" width="80">
        <p>Through our collaborations, we will always find solutions to the most daunting challenges and with our partnership, we will remain audacious in creating value for investors and leading the path for the growth of Nigerian Capital Market and the broader economy.</p>
        <div class="flex flex-col items-end mt-5">
            <p>Anowar Hossain</p>
            <p>MD & CEO</p>
        </div>
        <img class="absolute -bottom-6 right-5" src="assets/images/quote2.png" alt="" width="80">
    </div>
</div>
<!-- MD Message End -->


<!-- Membership Start -->
<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-10">
    <div class="flex items-center justify-center">
        <h3 class="font-bold">Memberships:</h3>
        <img src="assets/images/BGMEA.png" alt="">
    </div>
</div>
<!-- Membership End -->


<app-footer></app-footer>