<navbar/>

<heading subHeading="About" heading="Knit Studio Limited" />

<!-- Mission Vision Start -->
<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-10">
    <p class="text-sm">A 100% export-oriented sweater manufacturer, delivers premium, sustainable knitwear to global brands, combining innovation, quality, and eco-friendly practices to ensure style, comfort, and timely delivery.</p>
    <div class="flex items-center gap-6 mt-10">
        <img class="hidden md:block" src="assets/images/mission.png" alt="" width="45%">
        <div class="space-y-4">
            <h4 class="text-2xl font-bold">Mission</h4>
            <p class="text-sm">Engage effectively, responsibly and profitably in the global textile industry.</p>
            <p class="text-sm">To become a brand that is known for its distinctive and uncompromising quality. Knit Studio Ltd is promised to produce world-class sweaters for men, women, children, and kids. We strive to ensure our customer satisfaction with our product quality and on-time shipment schedule.</p>
        </div>
    </div>
    <div class="flex items-center gap-6 mt-10">
        <img class="hidden md:block" src="assets/images/vision.png" alt="" width="45%">
        <div class="space-y-4">
            <h4 class="text-2xl font-bold">Vision</h4>
            <p class="text-sm">To create a single channel for satisfying diverse and high class needs of our value partners.</p>
            <p class="text-sm">To become a window through which all our interacting parties can see and feel their prospects and dream about their success. We perform in unison by following our values and ethical guidelines, using our code of 
            conduct as a source of guidance and inspiration, enabling us to achieve our vision.</p>
        </div>
    </div>
</div>
<!-- Mission Vision End -->

<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-10">
    <heading subHeading="Machineries" heading="Powering Precision and Efficiency" />
    <div class="flex gap-6 justify-center my-10">
        <div class="w-72 bg-primaryGreen px-4 py-8 text-white text-center font-bold">
            <p class="text-2xl">350</p>
            <p>Computerized <br> Jacquard M/C</p>
        </div>
        <div class="w-72 bg-primaryRed px-4 py-8 text-white text-center font-bold">
            <p class="text-2xl">390</p>
            <p>Linking M/C</p>
        </div>
    </div>


    <!-- Table Start -->
    <div class="flex gap-6 justify-center">  
        <div class="relative overflow-x-auto">
            <table class="w-full text-xs text-left rtl:text-right text-gray-500 dark:text-gray-400 border">
                <thead class="text-xs text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 bg-primaryGreen text-white">
                            Machineries List
                        </th>
                        <th scope="col" class="px-6 py-3 bg-primaryRed text-white">
                            Units
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Computerized  Jacquard M/C
                        </th>
                        <td class="px-6 py-4">
                            350
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Linking M/C 
                        </th>
                        <td class="px-6 py-4">
                            390
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Overlock M/C 
                        </th>
                        <td class="px-6 py-4">
                            16
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Bar tack M/C  
                        </th>
                        <td class="px-6 py-4">
                            08
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Sewing M/C
                        </th>
                        <td class="px-6 py-4">
                            38
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Button Hole M/C 
                        </th>
                        <td class="px-6 py-4">
                            08
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Button Attaching M/C 
                        </th>
                        <td class="px-6 py-4">
                            08
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Iron
                        </th>
                        <td class="px-6 py-4">
                            68
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Washing M/C 
                        </th>
                        <td class="px-6 py-4">
                            04
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Hydro Extractor
                        </th>
                        <td class="px-6 py-4">
                            04
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="relative overflow-x-auto">
            <table class="w-full text-xs text-left rtl:text-right text-gray-500 dark:text-gray-400 border">
                <thead class="text-xs text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 bg-primaryGreen text-white">
                            Machineries List
                        </th>
                        <th scope="col" class="px-6 py-3 bg-primaryRed text-white">
                            Units
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Dryer
                        </th>
                        <td class="px-6 py-4">
                            07
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Soft Winding M/C 
                        </th>
                        <td class="px-6 py-4">
                            176 Spindle
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            PP Belt M/C 
                        </th>
                        <td class="px-6 py-4">
                            02
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Spot Removing 
                        </th>
                        <td class="px-6 py-4">
                            01
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Needle Detector 
                        </th>
                        <td class="px-6 py-4">
                            01
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Dust Removing 
                        </th>
                        <td class="px-6 py-4">
                            02
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Pull Test  
                        </th>
                        <td class="px-6 py-4">
                            01
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Air Compressor 	  
                        </th>
                        <td class="px-6 py-4">
                            02
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Chiller (146 kw) 	  
                        </th>
                        <td class="px-6 py-4">
                            01
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Boiler ( 500 kg/ 450 kg) 	  
                        </th>
                        <td class="px-6 py-4">
                            01/01
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Generator (500kw)  	  
                        </th>
                        <td class="px-6 py-4">
                            02
                        </td>
                    </tr>		       
                </tbody>
            </table>
        </div>
    </div>
    <!-- Table End -->
</div>

<app-footer></app-footer>