<navbar/>

<heading subHeading="Sustainibility" heading="Small Changes, Big Impact" />

<!-- Our source Start -->
<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-10">
    <p class="text-2xl text-center">Everybody talks about sustainability. <br> We’re here to help you understand more about it.</p>
    <div class="flex flex-col md:flex-row items-center gap-4 mt-10">
        <div class="md:w-1/4">
            <h4 class="text-3xl font-bold">Our source is Mother Earth</h4>
        </div>
        <div class="md:w-3/4">
            <p class="text-sm">We pay the highest attention in the selection of raw materials, the use of recycled materials, the reduction of environmental impact and the safety of our teams. These are the eight international certifications that demonstrate our  willingness and commitment.</p>
        </div>
    </div>
</div>
<!-- Our source End -->


<!-- Certification Start -->
<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-16">
    <div class="flex flex-wrap justify-center items-center gap-2 max-w-[1000px] mx-auto">
        <div class="w-48 h-48 bg-slate-200 flex items-center justify-center">
            <img src="./assets/images/globalOrganicTextileStandard.png" alt="" width="100">
        </div>
        <div class="w-48 h-48 bg-slate-200 flex items-center justify-center">
            <img src="./assets/images/globalOrganicTextileStandard.png" alt="" width="100">
        </div>
        <div class="w-48 h-48 bg-slate-200 flex items-center justify-center">
            <img src="./assets/images/globalOrganicTextileStandard.png" alt="" width="100">
        </div>
        <div class="w-48 h-48 bg-slate-200 flex items-center justify-center">
            <img src="./assets/images/globalOrganicTextileStandard.png" alt="" width="100">
        </div>
        <div class="w-48 h-48 bg-slate-200 flex items-center justify-center">
            <img src="./assets/images/globalOrganicTextileStandard.png" alt="" width="100">
        </div>
        <div class="w-48 h-48 bg-slate-200 flex items-center justify-center">
            <img src="./assets/images/globalOrganicTextileStandard.png" alt="" width="100">
        </div>
        <div class="w-48 h-48 bg-slate-200 flex items-center justify-center">
            <img src="./assets/images/globalOrganicTextileStandard.png" alt="" width="100">
        </div>
        <div class="w-48 h-48 bg-slate-200 flex items-center justify-center">
            <img src="./assets/images/globalOrganicTextileStandard.png" alt="" width="100">
        </div>
        <div class="w-48 h-48 bg-slate-200 flex items-center justify-center">
            <img src="./assets/images/globalOrganicTextileStandard.png" alt="" width="100">
        </div>
        <div class="w-48 h-48 bg-slate-200 flex items-center justify-center">
            <img src="./assets/images/globalOrganicTextileStandard.png" alt="" width="100">
        </div>
    </div>
</div>
<!-- Certification End -->

<!-- Our source Start -->
<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-10">
    <div class="flex flex-col md:flex-row items-center gap-4 mt-10">
        <div class="md:w-1/4">
            <h4 class="text-3xl font-bold">But Why?!</h4>
        </div>
        <div class="md:w-3/4">
            <p class="text-sm">We firmly believe that without a healthy planet and without the dignity of the people who live on it, there is no possibility for the future, nor for development. That is why our commitment does not end with achieving certifications.</p>
        </div>
    </div>
</div>
<!-- Our source End -->

<!-- Details Part Start  -->
<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-16">
    <div class="flex flex-wrap justify-center gap-y-3 items-center max-w-[1000px] mx-auto">
        <div class="md:w-1/2 p-5 space-y-2">
            <i class="bi bi-people text-primaryRed text-2xl"></i>
            <h4 class="text-2xl text-primaryRed font-bold">People</h4>
            <p class="text-sm">The people who make our fabrics are at the very centre of our supply chain. We strive to ensure that every member of the team has the opportunity to be trained and to grow professionally. In a healthy and safe environment.</p>
        </div>
        <div class="md:w-1/2 p-5 space-y-2">
            <i class="bi bi-feather text-primaryRed text-2xl"></i>
            <h4 class="text-2xl text-primaryRed font-bold">Energy efficiency</h4>
            <p class="text-sm">We keep looking for new ways to improve water and energy savings. In finishing and dyeing we have implemented sophisticated sensors and control devices, which enable us to save around 30 million litres of water per year.</p>
        </div>
        <div class="md:w-1/2 p-5 space-y-2">
            <i class="bi bi-thermometer text-primaryRed text-2xl"></i>
            <h4 class="text-2xl text-primaryRed font-bold">Thermal saving</h4>
            <p class="text-sm">Making the most out of resources is essential to reducing our impact. We are committed to optimizing the use of the thermal energy we produce by investing in machines that recover heat, enabling us to produce more while consuming less.</p>
        </div>
        <div class="md:w-1/2 p-5 space-y-2">
            <i class="bi bi-droplet text-primaryRed text-2xl"></i>
            <h4 class="text-2xl text-primaryRed font-bold">Water conservation</h4>
            <p class="text-sm">We have acted on production methods to achieve water savings of around 8%. In 2020, we invested in the development of state-of-the-art technology to reduce water consumption in the dying process.</p>
        </div>
    </div>
</div>
<!-- Details Part End  -->

<!-- Download Start -->
<div class="bg-sustainibility bg-no-repeat bg-cover bg-center">
    <div class="max-w-maxContainer mx-auto px-8 py-8 xl:px-0 my-16">
        <div class="bg-white max-w-80 h-52">
            
            <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" role="tablist">
                    <li class="me-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Energy</button>
                    </li>
                    <li class="me-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Energy</button>
                    </li>
                </ul>
            </div>
            <div id="default-tab-content">
                <div class="p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h4 class="text-primaryGreen font-bold">Energy saving 1</h4>
                    <p class="text-xs text-gray-500 dark:text-gray-400">690 metric tons reduction of CO2 emissions which corresponds to 690 metric tons reduction of CO2 emissions which corresponds to</p>
                </div>
                <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                    <h4 class="text-primaryGreen font-bold">Energy saving 2</h4>
                    <p class="text-xs text-gray-500 dark:text-gray-400">690 metric tons reduction of CO2 emissions which corresponds to 690 metric tons reduction of CO2 emissions which corresponds to</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Download End -->

<!-- Download Start -->
<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-10">
    <div class="flex flex-col md:flex-row items-center gap-4 mt-10">
        <div class="md:w-1/4">
            <h4 class="text-3xl font-bold">What’s in it for you?</h4>
        </div>
        <div class="md:w-3/4">
            <p class="text-sm">In order to label your garments, all production steps must be certified. We canhelp you understand this with our guide.</p>
            <button (click)="redirectToCareer()" class="text-primaryRed text-sm font-bold">Download <i class="bi bi-arrow-right-circle-fill text-primaryRed ml-2"></i></button>
        </div>
    </div>
</div>
<!-- Download End -->