<navbar />

<heading subHeading="Certificates" heading="Showcasing Achievements Proudly" />

<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-10">
  <div class="grid grid-cols-12 gap-x-6 gap-y-10">
    <div class="col-span-12 sm:col-span-6">
      <div class="flex flex-col lg:flex-row lg:items-center items-center gap-x-8 gap-y-4 text-center lg:text-left">
        <div class="h-40 w-40 border border-gray-300 flex items-center justify-center">
          <img src="./assets/images/certificateLogo/globalOrganicTextileStandard.png" alt="" />
        </div>
        <div>
          <h3 class="py-3 font-bold text-sm">
            Global Organic Textile Standard (GOTS)
          </h3>
          <div class="w-32 mx-auto lg:mx-0">
            <buttons (click)="GotsPdfDownload()" text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div class="flex flex-col lg:flex-row lg:items-center items-center gap-x-8 gap-y-4 text-center lg:text-left">
        <div class="h-40 w-40 border border-gray-300 flex items-center justify-center">
          <img src="./assets/images/certificateLogo/oekoTex.png" alt="" />
        </div>
        <div>
          <h3 class="py-3 font-bold text-sm">
            Oekotex Certificate 2024-25
          </h3>
          <div class="w-32 mx-auto lg:mx-0">
            <buttons (click)="oekoTexPdfDownload()" text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div class="flex flex-col lg:flex-row lg:items-center items-center gap-x-8 gap-y-4 text-center lg:text-left">
        <div class="h-40 w-40 border border-gray-300 flex items-center justify-center">
          <img src="./assets/images/certificateLogo/globalRecycledStandard.png" alt="" />
        </div>
        <div>
          <h3 class="py-3 font-bold text-sm">
            GRS Certificate 2024-2025
          </h3>
          <div class="w-32 mx-auto lg:mx-0">
            <buttons (click)="GrsPdfDownload()" text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div class="flex flex-col lg:flex-row lg:items-center items-center gap-x-8 gap-y-4 text-center lg:text-left">
        <div class="h-40 w-40 border border-gray-300 flex items-center justify-center">
          <img src="./assets/images/certificateLogo/sedex.png" alt="" />
        </div>
        <div>
          <h3 class="py-3 font-bold text-sm">
            Sedex Report 2024-25
          </h3>
          <div class="w-32 mx-auto lg:mx-0">
            <buttons (click)="SedexPdfDownload()" text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div class="flex flex-col lg:flex-row lg:items-center items-center gap-x-8 gap-y-4 text-center lg:text-left">
        <div class="h-40 w-40 border border-gray-300 flex items-center justify-center">
          <img src="./assets/images/certificateLogo/amfori.png" alt="" />
        </div>
        <div>
          <h3 class="py-3 font-bold text-sm">
            BSCI Audit Report 2024-26
          </h3>
          <div class="w-32 mx-auto lg:mx-0">
            <buttons (click)="BsciPdfDownload()" text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div class="flex flex-col lg:flex-row lg:items-center items-center gap-x-8 gap-y-4 text-center lg:text-left">
        <div class="h-40 w-40 border border-gray-300 flex items-center justify-center">
          <img src="./assets/images/certificateLogo/ics.png" alt="" />
        </div>
        <div>
          <h3 class="py-3 font-bold text-sm">
            ICS Audit Report 2024-25
          </h3>
          <div class="w-32 mx-auto lg:mx-0">
            <buttons (click)="IcsPdfDownload()" text="Download" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
