<navbar />

<heading subHeading="Certificates" heading="Showcasing Achievements Proudly" />

<div class="max-w-maxContainer mx-auto px-8 xl:px-0 my-10">
  <div class="grid grid-cols-12 gap-x-6 gap-y-10">
    <div class="col-span-12 sm:col-span-6">
      <div
        class="flex flex-col lg:flex-row lg:items-end items-center gap-x-8 gap-y-4 text-center lg:text-left"
      >
        <img src="./assets/images/certificate.jpg" alt="" />
        <div>
          <h3 class="py-3 font-bold text-sm">
            Certificate of Appreciation by BGMEA
          </h3>
          <div class="w-[50%] mx-auto lg:mx-0">
            <buttons text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div
        class="flex flex-col lg:flex-row lg:items-end items-center gap-x-8 gap-y-4 text-center lg:text-left"
      >
        <img src="./assets/images/certificate.jpg" alt="" />
        <div>
          <h3 class="py-3 font-bold text-sm">
            Certificate of Appreciation by BGMEA
          </h3>
          <div class="w-[50%] mx-auto lg:mx-0">
            <buttons text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div
        class="flex flex-col lg:flex-row lg:items-end items-center gap-x-8 gap-y-4 text-center lg:text-left"
      >
        <img src="./assets/images/certificate.jpg" alt="" />
        <div>
          <h3 class="py-3 font-bold text-sm">
            Certificate of Appreciation by BGMEA
          </h3>
          <div class="w-[50%] mx-auto lg:mx-0">
            <buttons text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div
        class="flex flex-col lg:flex-row lg:items-end items-center gap-x-8 gap-y-4 text-center lg:text-left"
      >
        <img src="./assets/images/certificate.jpg" alt="" />
        <div>
          <h3 class="py-3 font-bold text-sm">
            Certificate of Appreciation by BGMEA
          </h3>
          <div class="w-[50%] mx-auto lg:mx-0">
            <buttons text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div
        class="flex flex-col lg:flex-row lg:items-end items-center gap-x-8 gap-y-4 text-center lg:text-left"
      >
        <img src="./assets/images/certificate.jpg" alt="" />
        <div>
          <h3 class="py-3 font-bold text-sm">
            Certificate of Appreciation by BGMEA
          </h3>
          <div class="w-[50%] mx-auto lg:mx-0">
            <buttons text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div
        class="flex flex-col lg:flex-row lg:items-end items-center gap-x-8 gap-y-4 text-center lg:text-left"
      >
        <img src="./assets/images/certificate.jpg" alt="" />
        <div>
          <h3 class="py-3 font-bold text-sm">
            Certificate of Appreciation by BGMEA
          </h3>
          <div class="w-[50%] mx-auto lg:mx-0">
            <buttons text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div
        class="flex flex-col lg:flex-row lg:items-end items-center gap-x-8 gap-y-4 text-center lg:text-left"
      >
        <img src="./assets/images/certificate.jpg" alt="" />
        <div>
          <h3 class="py-3 font-bold text-sm">
            Certificate of Appreciation by BGMEA
          </h3>
          <div class="w-[50%] mx-auto lg:mx-0">
            <buttons text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div
        class="flex flex-col lg:flex-row lg:items-end items-center gap-x-8 gap-y-4 text-center lg:text-left"
      >
        <img src="./assets/images/certificate.jpg" alt="" />
        <div>
          <h3 class="py-3 font-bold text-sm">
            Certificate of Appreciation by BGMEA
          </h3>
          <div class="w-[50%] mx-auto lg:mx-0">
            <buttons text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div
        class="flex flex-col lg:flex-row lg:items-end items-center gap-x-8 gap-y-4 text-center lg:text-left"
      >
        <img src="./assets/images/certificate.jpg" alt="" />
        <div>
          <h3 class="py-3 font-bold text-sm">
            Certificate of Appreciation by BGMEA
          </h3>
          <div class="w-[50%] mx-auto lg:mx-0">
            <buttons text="Download" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6">
      <div
        class="flex flex-col lg:flex-row lg:items-end items-center gap-x-8 gap-y-4 text-center lg:text-left"
      >
        <img src="./assets/images/certificate.jpg" alt="" />
        <div>
          <h3 class="py-3 font-bold text-sm">
            Certificate of Appreciation by BGMEA
          </h3>
          <div class="w-[50%] mx-auto lg:mx-0">
            <buttons text="Download" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>