<!-- Navbar Start -->
<nav
  class="dark:bg-gray-900 absolute top-0 left-0 right-0 w-full z-50 px-8 xl:px-0 pt-3"
>
  <div
    class="max-w-maxContainer flex flex-wrap items-center justify-between mx-auto"
  >
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="./assets/images/logo_black.png" width="180" alt="" />
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="text-xs font-semibold flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:!bg-transparent md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            [routerLink]="'/factory'"
            class="block py-2 px-3 text-white bg-primaryGreen rounded-sm md:bg-transparent md:p-0 dark:text-white md:dark:text-primaryGreen"
            aria-current="page"
            >THE FACTORY</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/products'"
            class="block py-2 px-3 text-gray-900 md:text-white rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primaryGreen md:p-0 dark:text-white md:dark:hover:text-primaryGreen dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >PRODUCTS</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/sustainibility'"
            class="block py-2 px-3 text-gray-900 md:text-white rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primaryGreen md:p-0 dark:text-white md:dark:hover:text-primaryGreen dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >SUSTAINIBILITY</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/certificates'"
            class="block py-2 px-3 text-gray-900 md:text-white rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primaryGreen md:p-0 dark:text-white md:dark:hover:text-primaryGreen dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >CERTIFICATIONS</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/contact'"
            class="block py-2 px-3 text-gray-900 md:text-white rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primaryGreen md:p-0 dark:text-white md:dark:hover:text-primaryGreen dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >CONTACTS</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar End -->

<!-- Banner Start -->
<div class="bg-homeBg bg-center bg-cover bg-no-repeat relative">
  <div class="pt-36 pb-28 bg-primaryBlue bg-opacity-80 text-white">
    <div class="max-w-maxContainer mx-auto px-8 xl:px-0">
      <h6
        class="relative text-base font-semibold pb-10 after:absolute after:content-[''] after:h-1 after:w-16 after:bg-primaryRed after:bottom-5 after:left-0"
      >
        Since 2007
      </h6>
      <h5>Purveyors of Superior Sweaters</h5>
      <h1 class="text-3xl md:text-4xl font-bold py-5 !leading-snug">
        A Legacy of Luxury, <span class="text-primaryRed">Quality</span> &
        <br />
        Craftsmanship.
      </h1>
      <div class="w-36">
        <buttons [routerLink]="'/contact'" text="Appoinment" />
      </div>
    </div>
  </div>

  <div
    class="sm:flex items-center flex-row gap-2 absolute -bottom-5 right-5 hidden"
  >
    <div
      class="bg-primaryBlue h-32 w-44 p-4 text-white flex flex-col justify-center"
    >
      <span class="text-[16px]">Years</span>
      <span class="text-[14px]">Of Experince</span>
      <span class="text-[28px] font-semibold">16+</span>
    </div>
    <div
      class="bg-primaryRed h-32 w-44 p-4 text-white flex flex-col justify-center"
    >
      <span class="text-[16px]">Production</span>
      <span class="text-[14px]">Capacity / month</span>
      <span class="text-[28px] font-semibold">5000</span>
    </div>
    <div
      class="bg-primaryBlue h-32 w-44 p-4 text-white flex flex-col justify-center"
    >
      <span class="text-[16px]">Number</span>
      <span class="text-[14px]">Of Employess</span>
      <span class="text-[28px] font-semibold">12000</span>
    </div>
  </div>
</div>

<div class="sm:hidden m-8 space-y-4">
  <div
    class="bg-primaryBlue h-32 w-full p-4 text-white flex flex-col justify-center"
  >
    <span class="text-[16px]">Years</span>
    <span class="text-[14px]">Of Experince</span>
    <span class="text-[28px] font-semibold">16+</span>
  </div>
  <div
    class="bg-primaryRed h-32 w-full p-4 text-white flex flex-col justify-center"
  >
    <span class="text-[16px]">Production</span>
    <span class="text-[14px]">Capacity / month</span>
    <span class="text-[28px] font-semibold">5000</span>
  </div>
  <div
    class="bg-primaryBlue h-32 w-full p-4 text-white flex flex-col justify-center"
  >
    <span class="text-[16px]">Number</span>
    <span class="text-[14px]">Of Employess</span>
    <span class="text-[28px] font-semibold">12000</span>
  </div>
</div>
<!-- Banner End -->

<!-- About Start -->
<div class="mt-20 md:mt-28 max-w-maxContainer mx-auto px-8 xl:px-0">
  <div class="flex gap-4 items-center justify-between">
    <div class="w-0 md:w-1/3">
      <img src="./assets/images/homeFactoryImg.jpg" width="350" alt="" />
    </div>
    <div class="w-full md:w-2/3">
      <h6
        class="relative font-bold inline-block leading-10 after:absolute after:content-[''] after:h-1 after:w-16 after:bg-primaryRed after:bottom-0 after:left-0 after:z-10"
      >
        The Factory
      </h6>
      <h3 class="pt-4 text-primaryGreen text-3xl font-bold">
        We Provide The Best Textile Industry Since 2005
      </h3>
      <p class="text-sm pt-4">
        Knit studio ltd is engaged in manufacturing of all kinds of sweater
        garments. Under the profound guidance of Our mentor Mr. Anowar
        hossain,our company has gained an immense success and has earned
        goodwill with 10 years of experience in garment industries. The Managing
        director is guiding our team with his wide experience and skill. Our
        product is made using top quality of yarn that is produced from class
        one sources across the world.
      </p>
      <ul class="text-xs pt-4 space-y-3">
        <li>
          <i class="bi bi-check-circle-fill text-primaryRed mr-1"></i>
          Best Quality Standards
        </li>
        <li>
          <i class="bi bi-check-circle-fill text-primaryRed mr-1"></i>
          100% Satisfaction Guarantee
        </li>
        <li>
          <i class="bi bi-check-circle-fill text-primaryRed mr-1"></i>
          Quality Control System
        </li>
        <li>
          <i class="bi bi-check-circle-fill text-primaryRed mr-1"></i>
          Commitment to Customers
        </li>
        <li>
          <i class="bi bi-check-circle-fill text-primaryRed mr-1"></i>
          Highly Professional Team
        </li>
        <li>
          <i class="bi bi-check-circle-fill text-primaryRed mr-1"></i>
          Global fabrics Distributor
        </li>
      </ul>
      <div class="w-40 mt-6">
        <buttons text="More About Factory" />
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Certification Start -->
<div class="mt-12 px-8 xl:px-0 hidden">
  <div class="max-w-maxContainer mx-auto">
    <heading
      heading="Highlighting Professional Growth"
      subHeading="Certifications"
    />

    <div id="default-carousel" class="relative w-full" data-carousel="slide">
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="./assets/images/Logo Black.png"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="./assets/images/Logo Black.png"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="./assets/images/Logo Black.png"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="./assets/images/Logo Black.png"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
      </div>
      <!-- Slider indicators -->
      <div
        class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
      >
        <button
          type="button"
          class="w-3 h-3 rounded-full"
          aria-current="true"
          aria-label="Slide 1"
          data-carousel-slide-to="0"
        ></button>
        <button
          type="button"
          class="w-3 h-3 rounded-full"
          aria-current="false"
          aria-label="Slide 2"
          data-carousel-slide-to="1"
        ></button>
        <button
          type="button"
          class="w-3 h-3 rounded-full"
          aria-current="false"
          aria-label="Slide 3"
          data-carousel-slide-to="2"
        ></button>
        <button
          type="button"
          class="w-3 h-3 rounded-full"
          aria-current="false"
          aria-label="Slide 4"
          data-carousel-slide-to="3"
        ></button>
        <button
          type="button"
          class="w-3 h-3 rounded-full"
          aria-current="false"
          aria-label="Slide 5"
          data-carousel-slide-to="4"
        ></button>
      </div>
      <!-- Slider controls -->
      <button
        type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </div>
</div>
<!-- Certification End -->

<!-- Achievements Start -->
<div class="mt-12 bg-achievementsBg bg-center bg-cover bg-no-repeat relative">
  <div class="py-20 bg-primaryBlue bg-opacity-60 text-white">
    <div class="max-w-maxContainer mx-auto px-8 xl:px-0 text-center">
      <heading subHeading="Achievements" />
      <p class="text-xs pb-8">
        Since 2006 Knit Studio Limited Achieved Impossible Milestones Bey.
        <br />
        The Substantial Effort Of The Whole Organization
      </p>
      <div class="flex flex-wrap justify-center items-center gap-8">
        <div
          class="bg-primaryBlue h-32 w-44 p-4 text-white flex flex-col justify-center"
        >
          <span class="text-[16px] font-bold">500 MILLION</span>
          <span class="text-[12px]">US DOLLAR TURNOVER PER YEAR</span>
        </div>
        <div
          class="bg-primaryRed h-32 w-44 p-4 text-white flex flex-col justify-center"
        >
          <span class="text-[16px] font-bold">3 FACTORIES</span>
          <span class="text-[12px]">IN BANGLADESH</span>
        </div>
        <div
          class="bg-primaryBlue h-32 w-44 p-4 text-white flex flex-col justify-center"
        >
          <span class="text-[16px] font-bold">16+ YEARS</span>
          <span class="text-[12px]">OF EXCELLENCE</span>
        </div>
        <div
          class="bg-primaryRed h-32 w-44 p-4 text-white flex flex-col justify-center"
        >
          <span class="text-[16px] font-bold">12000</span>
          <span class="text-[12px]">EMPLOYEES</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Achievements End -->

<!-- Global Reach Start -->
<div class="mt-12 max-w-maxContainer mx-auto px-8 xl:px-0 text-center">
  <heading heading="Countries We've Partnered With" subHeading="Global Reach" />
  <div class="flex justify-center relative mt-8">
    <div class="relative">
      <img
        src="./assets/images/map.png"
        alt=""
        width="500"
        class="w-full max-w-[500px]"
      />
      <!-- Icon 1 -->
      <i
        class="bi bi-geo-alt-fill absolute text-red-500 text-2xl"
        style="top: 30%; left: 40%"
      ></i>
      <!-- Icon 2 -->
      <i
        class="bi bi-geo-alt-fill absolute text-blue-500 text-2xl"
        style="top: 60%; left: 70%"
      ></i>
    </div>
  </div>
</div>
<!-- Global Reach End -->

<!-- Service Start -->
<div class="mt-12 max-w-maxContainer mx-auto px-8 xl:px-0">
  <heading
    heading="Delivering The Highest Quality Fabrics"
    subHeading="Our Services"
  />
  <div class="flex items-center justify-center flex-wrap gap-4 mt-8">
    <div class="w-64 border rounded-md space-y-2 py-4 px-8">
      <i class="bi bi-x-diamond-fill"></i>
      <h6 class="font-bold">Fabric Dyeing</h6>
      <p class="text-xs">
        Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore
      </p>
      <button
        data-modal-target="default-modal"
        data-modal-toggle="default-modal"
        class="text-xs text-primaryRed font-bold"
      >
        Read More
        <i class="bi bi-arrow-right-short text-lg font-bold align-middle"></i>
      </button>
    </div>
    <div class="w-64 border rounded-md space-y-2 py-4 px-8">
      <i class="bi bi-x-diamond-fill"></i>
      <h6 class="font-bold">Fabric Dyeing</h6>
      <p class="text-xs">
        Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore
      </p>
      <button
        data-modal-target="default-modal"
        data-modal-toggle="default-modal"
        class="text-xs text-primaryRed font-bold"
      >
        Read More
        <i class="bi bi-arrow-right-short text-lg font-bold align-middle"></i>
      </button>
    </div>
    <div class="w-64 border rounded-md space-y-2 py-4 px-8">
      <i class="bi bi-x-diamond-fill"></i>
      <h6 class="font-bold">Fabric Dyeing</h6>
      <p class="text-xs">
        Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore
      </p>
      <button
        data-modal-target="default-modal"
        data-modal-toggle="default-modal"
        class="text-xs text-primaryRed font-bold"
      >
        Read More
        <i class="bi bi-arrow-right-short text-lg font-bold align-middle"></i>
      </button>
    </div>
    <div class="w-64 border rounded-md space-y-2 py-4 px-8">
      <i class="bi bi-x-diamond-fill"></i>
      <h6 class="font-bold">Fabric Dyeing</h6>
      <p class="text-xs">
        Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore
      </p>
      <button
        data-modal-target="default-modal"
        data-modal-toggle="default-modal"
        class="text-xs text-primaryRed font-bold"
      >
        Read More
        <i class="bi bi-arrow-right-short text-lg font-bold align-middle"></i>
      </button>
    </div>
    <div class="w-64 border rounded-md space-y-2 py-4 px-8">
      <i class="bi bi-x-diamond-fill"></i>
      <h6 class="font-bold">Fabric Dyeing</h6>
      <p class="text-xs">
        Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore
      </p>
      <button
        data-modal-target="default-modal"
        data-modal-toggle="default-modal"
        class="text-xs text-primaryRed font-bold"
      >
        Read More
        <i class="bi bi-arrow-right-short text-lg font-bold align-middle"></i>
      </button>
    </div>
    <div class="w-64 border rounded-md space-y-2 py-4 px-8">
      <i class="bi bi-x-diamond-fill"></i>
      <h6 class="font-bold">Fabric Dyeing</h6>
      <p class="text-xs">
        Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore
      </p>
      <button
        data-modal-target="default-modal"
        data-modal-toggle="default-modal"
        class="text-xs text-primaryRed font-bold"
      >
        Read More
        <i class="bi bi-arrow-right-short text-lg font-bold align-middle"></i>
      </button>
    </div>
  </div>
</div>

<!-- Main modal -->
<div
  id="default-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 dark:border-gray-600 border-gray-200"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Fabric Dyeing
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-xs w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="default-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <p class="text-xs leading-relaxed text-gray-500 dark:text-gray-400">
          With less than a month to go before the European Union enacts new
          consumer privacy laws for its citizens, companies around the world are
          updating their terms of service agreements to comply.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Home Contact Start -->
<div class="bg-homeContactBg bg-center bg-cover bg-no-repeat mt-12">
  <div class="pt-36 pb-28 bg-primaryBlue bg-opacity-80 text-white">
    <div data-aos="fade-up" class="max-w-maxContainer mx-auto px-8 xl:px-0">
      <h6
        class="relative text-base font-semibold pb-10 after:absolute after:content-[''] after:h-1 after:w-16 after:bg-primaryRed after:bottom-5 after:left-0"
      >
        Hiring
      </h6>
      <h1 class="text-3xl md:text-4xl font-bold pb-5 !leading-snug">
        Explore exciting career opportunities <br />
        & be part of our dynamic growth.
      </h1>
      <div class="w-36">
        <buttons [routerLink]="'/career'" text="Drop CV" />
      </div>
    </div>
  </div>
</div>

<!-- Home Contact End -->


